<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to homepage</h1>
    <a href="/staff">Go to staff</a>
    <a href="/student">Go to student</a>
    <a href="/student/login">Go to student login</a>
    <a href="/staff/login">Go to staff login</a>
</body>
</html>