<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is staff page</h1>
    <form action="/staff/signup" method="post">
        <input type="text" placeholder="first name" name="firstname">
        <input type="text" placeholder="last name" name="lastname">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="passowrd" name="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>